body {
    margin: 0 auto;
    margin: 50px;

}

h2 {
    font-weight: bolder;
    display: flex;
    align-items: center;
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
}

li {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
}