body {
    margin: 0 auto;
    margin: 50px;
}

h2 {
    font-weight: bolder;
    display: flex;
    align-items: center;
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


button {
    background-color: #7E57C2 ; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: block; 
    font-size: 16px;
    margin: 0 auto; 
    cursor: pointer;
    border-radius: 8px; 
    margin: 20px auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

input {
    border: 2px solid #ccc; 
    border-radius: 4px; 
    padding: 5px; 
    font-size: 16px; 
    margin: 10px 0; 
    width: calc(100% - 10px); 
    box-sizing: border-box; 
    transition: border-color 0.3s, box-shadow 0.3s; 
    width: 500px;
}